.marginTop {
    margin-top: 0px !important;
    height: 47px !important;
}
.noBorderRadius {
    border-radius: 0% !important;
}
.displayCenter {
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
}